.navbar {
  background-color: #f1f1f1;
  color: #333;
  height: 50px;
  padding: 1% 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#nav-header {
  font-size: 2.1em;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.navbar a:hover {
  color: #006400;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar li {
  list-style: none;
  margin: 0 5px;
}

#logo {
  height: 6%;
  width: 6%;
  margin: 0 1% 1% 1%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-link {
  color: #006400;
  font-weight: bold;
}
